<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        dt {
            color: green;
        }

        dd {
            margin-left: 0;
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <dl>
        <dt>&#9728 Солнечно</dt>
        <dd>Кругом тепло и солнечно, тучки почти отсутствуют.</dd>
        <dt>&#9729 Облачно</dt>
        <dd>Небо покрыто тучками, солнышко почти не видно.</dd>
        <dt>&#9730 Дождь</dt>
        <dd>Серые тучи покрывают все небо и обильно поливают нас дождём.</dd>
    </dl>
</body>

</html>