<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task 5.1</title>
    <style>
        p {
            width: 300px
        }

        .red {
            color: red;
        }

        .blue {
            color: blue
        }
    </style>
</head>

<body>
    <p>
        <span class="red">Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, использующий шаблон
            проектирования MVC.Документация на русском языке.
        </span>
        <span class="blue">Python - простой в освоении мощный язык программирования</span>
    </p>
</body>

</html>