{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 5.3</title>
    <link rel="stylesheet" href="{% static 'css/task5/style_1.css'  %}">
    <style>
        @import url("{% static 'css/task5/style_2.css' %}");
    </style>
</head>

<body>
    <p>
        <span class="red">Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, использующий шаблон
            проектирования MVC.Документация на русском языке.
        </span>
        <span class="blue">Python - простой в освоении мощный язык программирования</span>
    </p>
</body>

</html>