<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 5.4</title>
    <style>
        .red {
            color: red
        }

        .blue {
            color: blue
        }

        .green {
            color: green
        }

        p {
            margin: 0
        }
    </style>
</head>

<body>
    <div>
        <p class="red">
            SQLAlchemy - это набор инструментов Python SQL и Object Mapper, который дает разработчикам приложений
            всю мощь и гибкость SQL.
        </p>
        <p class="blue">
            Синий 'span'.
        </p>
        <p class="green">
            Зеленый 'span',
        </p>
    </div>
</body>

</html>