<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 5.7</title>
    <style>
        ul,
        ol {
            width: 500px;
        }

        .list_1 {
            background-color: yellow;
            list-style-type: decimal;
            list-style-position: outside;
        }

        .list_2 {
            background-color: violet;
            list-style-type: square;
            list-style-position: outside;
        }
    </style>
</head>

<body>
    <ul class=list_1>
        <li>Маркеры размещаем вне списка.</li>
        <li>Используем вид маркера decimal</li>
    </ul>
    <ol class="list_2">
        <li>Маркеры размещаем вне списка.</li>
        <li>Используем вид маркера square</li>
    </ol>
</body>

</html>