<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 5.8</title>
    <style>
        .table_1,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-bottom: 15px
        }

        .table_2 {
            empty-cells: hide;
            border-spacing: 5px
        }

        .table_2 caption {
            caption-side: bottom;
        }
    </style>
</head>

<body>
    <table class="table_1" border="1">
        <caption>Таблица №1</caption>
        <tr>
            <td>Ячейчас 1.1</td>
            <td>Ячейчас 1.2</td>
        </tr>
        <tr>
            <td>Ячейчас 2.1</td>
            <td>Ячейчас 2.2</td>
        </tr>
    </table>

    <table class="table_2" border="1">
        <caption>Таблица №2</caption>
        <tr>
            <td>Ячейчас 1.1</td>
            <td>Ячейчас 1.2</td>
        </tr>
        <tr>
            <td></td>
            <td>Ячейчас 2.2</td>
        </tr>
    </table>
</body>

</html>