<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Task 4</title>
</head>

<body>
    <table id="1" border="solid">
        <tbody>
            <tr>
                <td>ячейка 1</td>
                <td>ячейка 2</td>
                <td>ячейка 3</td>
            </tr>
            <tr>
                <td>ячейка 4</td>
                <td>ячейка 5</td>
                <td>ячейка 6</td>
            </tr>
            <tr>
                <td>ячейка 7</td>
                <td>ячейка 8</td>
                <td>ячейка 9</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="2" border="collapse" style="border-collapse: collapse" height="200px" width="400px">
        <tbody>
            <tr>
                <th>ячейка 1</th>
                <th>ячейка 2</th>
                <th>ячейка 3</th>
            </tr>
            <tr>
                <td>ячейка 4</td>
                <td>ячейка 5</td>
                <td>ячейка 6</td>
            </tr>
            <tr>
                <td>ячейка 7</td>
                <td>ячейка 8</td>
                <td>ячейка 9</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="3" border="collapse" style="border-collapse: collapse" height="200px" width="400px">
        <tbody>
            <tr>
                <th>ячейка 1</th>
                <th>ячейка 2</th>
                <th>ячейка 3</th>
            </tr>
            <tr>
                <td align="right">ячейка 4</td>
                <td align="left">ячейка 5</td>
                <td align="left">ячейка 6</td>
            </tr>
            <tr>
                <td align="left">ячейка 7</td>
                <td align="center">ячейка 8</td>
                <td align="right">ячейка 9</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="4" border="collapse" style="border-collapse: collapse" width="400px">
        <tbody align="center">
            <tr>
                <th>номер</th>
                <th>тег</th>
                <th>значение</th>
            </tr>
            <tr>
                <td>1</td>
                <td>i</td>
                <td>курсив</td>
            </tr>
            <tr>
                <td>2</td>
                <td>td</td>
                <td>ячейка таблицы</td>
            </tr>
            <tr>
                <td>3</td>
                <td>a</td>
                <td>ссылка</td>
            </tr>
            <tr>
                <td>4</td>
                <td>th</td>
                <td>заголовок таблицы</td>
            </tr>
            <tr>
                <td>5</td>
                <td>table</td>
                <td>таблица</td>
            </tr>
            <tr>
                <td>6</td>
                <td>p</td>
                <td>абзац</td>
            </tr>
            <tr>
                <td>7</td>
                <td>b</td>
                <td>жирный текст</td>
            </tr>
            <tr>
                <td>8</td>
                <td>tr</td>
                <td>строка таблицы</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="5" border="collapse">
        <tbody>
            <tr>
                <td colspan="2">ячейка 1</td>
                <td>ячейка 3</td>
            </tr>
            <tr>
                <td rowspan="2"> ячейка 4</td>
                <td>ячейка 5</td>
                <td>ячейка 6</td>
            </tr>
            <tr>
                <td>ячейка 8</td>
                <td>ячейка 9</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="6" border="collapse">
        <tbody>
            <tr>
                <td colspan="3">ячейка 1</td>

            </tr>
            <tr>
                <td>ячейка 4</td>
                <td rowspan="2"> ячейка 5</td>
                <td>ячейка 6</td>
            </tr>
            <tr>
                <td>ячейка 8</td>
                <td>ячейка 9</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="7" border="collapse">
        <tbody>
            <tr>
                <td rowspan="3">ячейка 1</td>
                <td>ячейка 2</td>
                <td rowspan="3">ячейка 3</td>

            </tr>
            <tr>
                <td> ячейка 5</td>
            </tr>
            <tr>
                <td>ячейка 8</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="8" border="collapse" style="border-collapse: collapse" cellpadding="10px">
        <tbody>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td rowspan="3"></td>
                <td colspan="4"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td rowspan="3"></td>
                <td colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td rowspan="3"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table id="9" border="collapse" style="border-collapse: collapse; width: 100%;">
        <tr>
            <th colspan="2">Ячейка на два столбца</th>
        </tr>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
    </table>

    <hr>
    <table id="10" border="collapse" style="border-collapse: collapse; width: 100%;">
        <tr>
            <th rowspan="3">Ячейка на три строки</th>
            <td>Ячейка 1</td>
        </tr>
        <tr>
            <td>Ячейка 2</td>
        </tr>
        <tr>
            <td>Ячейка 3</td>
        </tr>
    </table>

    <hr>
    <table id="11" border="collapse" style="border-collapse: collapse;">
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
        </tr>
        <tr>
            <td>Ячейка 1x1</td>
            <td>Ячейка 1x2</td>
            <td>Ячейка 1x3</td>
        </tr>
        <tr>
            <td>Ячейка 2x1</td>
            <td>Ячейка 2x2</td>
            <td>Ячейка 2x3</td>
        </tr>
    </table>

    <hr>
    <table id="12" border="collapse" style="border-collapse: collapse; width:100%">
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
        </tr>
        <tr>
            <td>Ячейка 1x1</td>
            <td>Ячейка 1x2</td>
            <td>Ячейка 1x3</td>
        </tr>
        <tr>
            <td>Ячейка 2x1</td>
            <td>Ячейка 2x2</td>
            <td>Ячейка 2x3</td>
        </tr>
    </table>

    <hr>
    <table id="13" border="collapse" style="border-collapse: collapse; width:100%">
        <caption>Основной заголовок таблицы</caption>
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
        </tr>
        <tr>
            <td>Ячейка 1x1</td>
            <td>Ячейка 1x2</td>
            <td>Ячейка 1x3</td>
        </tr>
        <tr>
            <td>Ячейка 2x1</td>
            <td>Ячейка 2x2</td>
            <td>Ячейка 2x3</td>
        </tr>
    </table>

    <hr>
    <table id="14" border="collapse" style="border-collapse: collapse;" cellpadding="25px">
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
        <tr>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
        </tr>
    </table>
</body>

</html>