<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form>* {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <form action="" method="get">
        <input type="text" name="name">
        <label for="name">Введите имя</label><br>
        <input type="text" name="email">
        <label for="email">Почта</label><br>
        <textarea name="comment" id="" cols="40" rows="7"></textarea><br>
        <input type="submit" value="Отправить комментарий">
    </form>
</body>

</html>