<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="get">
        <select size="3" multiple="multiple">
            <option value="1" selected>АС ЭСТРАН</option>
            <option value="2">ЕАСАПР</option>
            <option value="3">АСУФР</option>
        </select>
        <select name="da">
            <option value="1">ЕАСАПР</option>
            <option value="2">ЕАСД</option>
            <option value="3">АСУМР</option>
            <option value="4">АСУСТ</option>
        </select>
    </form>
</body>

</html>