<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="get">
        <label for="po-type">Тип ПО:</label><br>
        <input type="radio" name="po-type" value="АС">
        <label for="po-type">АС</label><br>
        <input type="radio" name="po-type" value="АРМ">
        <label for="po-type">АРМ</label><br>
        <label for="upload-file">Прикрепить файл:</label><br>
        <input type="file" name="upload-file"><br>
        <input type="checkbox" name="select-1">
        <label for="">АСУ ТО</label><br>
        <input type="checkbox" name="select-2">
        <label for="">АРМ ППД</label><br>
        <input type="checkbox" name="select-3">
        <label for="">АС СПФ</label><br>
        <input type="checkbox" name="select-4">
        <label for="">АСОВ</label><br>
        <input type="submit" value="OK"><input type="button" value="Сбросить">
    </form>
</body>

</html>