<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="get">
        <fieldset>
            <legend>О системе</legend>
            <input type="radio" name="po-type" value="АС">
            <label for="po-type">АС</label><br>
            <input type="radio" name="po-type" value="АРМ">
            <label for="po-type">АРМ</label><br>
            <input type="text" name="name">
            <label for="name">Краткое наименование</label><br>
            <input type="text" name="category">
            <label for="category">Категория</label><br>
            <input type="text" name="customer">
            <label for="customer">Заказчик</label><br>
            <input type="text" name="developer">
            <label for="developer">Разработчик</label><br><br>
            <input type="submit" value="Сохранить">
        </fieldset>
    </form>
    <form action="" method="get">
        <fieldset>
            <legend>Работа со временем</legend>
            <input type="checkbox" name="select-1">
            <label for="">создание пунктуальности (никогда не будете никуда опаздывать);</label><br>
            <input type="checkbox" name="select-2">
            <label for="">излечение от пунктуальности (никогда никуда не будете торопиться);</label><br>
            <input type="checkbox" name="select-3">
            <label for="">изменение восприятия времени и часов.</label><br>
            <input type="submit" value="Отправить">
        </fieldset>
    </form>
</body>

</html>