<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table>* {
            margin: 0;
        }

        td {
            width: 100%;
            height: clamp(30px, 5vh, 50px);
            border: 2px solid black;
            text-align: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td style="background-color: red;" colspan="2">
                <b>шапка сайта (логотип, слоган, телефон)</b>
            </td>
        </tr>
        <tr>
            <td style="background-color: green; width: 30%">
                <b>навигация</b>
            </td>
            <td style="background-color: blue;  width: 70%">
                <b>заголовок</b>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left;">
                <ul>
                    <li>
                        <a href="#">Сылка 1</a>
                    </li>
                    <li>
                        <a href="#">Сылка 2</a>
                    </li>
                    <li>
                        <a href="#">Сылка 3</a>
                    </li>
                </ul>
            </td>
            <td style="text-align: left;">
                контент
            </td>
        </tr>
        <tr>
            <td style="background-color: yellow;" colspan="2">
                Низ сайта (анеры, счетчики, информация)
            </td>
        </tr>
    </table>
</body>

</html>