<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Name}}</title>
    <link rel="stylesheet" href="static/css/root/style.css">
</head>

<body>
    <header>Здесь ссылки на все дз</header>
    <div class="wrapper">
        <ol start="3">
            <li>
                Практикум
            </li>
            <ol>
                <li>
                    Задание
                </li>
                <ul>
                    <li>
                        <a href="https://web-programming.althgamer.ru/lists/ex1-12">Задачи 1-12</a> <br>
                    </li>
                    <li>
                        <a href="https://web-programming.althgamer.ru/lists/ex13">Задача 13</a> <br>
                    </li>
                    <li>
                        <a href="https://web-programming.althgamer.ru/lists/ex14">Задача 14</a> <br>
                    </li>
                    <li>
                        <a href="https://web-programming.althgamer.ru/lists/ex15">Задача 15</a>
                    </li>
                </ul>
            </ol>
        </ol>
    </div>
</body>

</html>