<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p::first-line {
            color: red;
            font-style: italic;
        }
    </style>
</head>

<body>
    <p>
        Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, пспользующий шаблон проектирования
        МѴС. Документация на русском языке.
    </p>
    <p>
        Рецепты Django ORM- это кинга о работе с моделями Django ORM it Django, Django ORM является одним из ключевых
        столпов Django.
    </p>
    <p>
        SQLAlchemy это набор инструментов Python SQL 1 Object Relational Mapperг, который дает разработчикам приложений
        всю мощь и гибкость SQL
    </p>
    <p>
        Channels - это проект, который использует Django и распиряет его возможности за пределы НТТР для обработки
        WebSockets, протоколов чата, ІТ-
        протоколов и многого другого.
    </p>
</body>

</html>