<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #input-1:placeholder-shown::placeholder {
            color: green;
        }


        #input-2:placeholder-shown {
            background-color: green;
        }

        #input-2::placeholder {
            color: white;
        }
    </style>
</head>

<body>
    <input type="text" placeholder="Введите пароль" id="input-1">
    <input type="text" placeholder="Введите пароль" id="input-2">
</body>

</html>